body{
    min-width: 200px;
    background-color: #51098d;
    color: #f34d8c;
    font-size: 20px;
    text-align: center;
}

.btn {
    background: #6d11b8;
    background-image: -webkit-linear-gradient(top, #6d11b8, #000000);
    background-image: -moz-linear-gradient(top, #6d11b8, #000000);
    background-image: -ms-linear-gradient(top, #6d11b8, #000000);
    background-image: -o-linear-gradient(top, #6d11b8, #000000);
    background-image: linear-gradient(to bottom, #6d11b8, #000000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: white;
    font-size: 14px;
    padding: 6px 10px 6px 10px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FB2576;
    background-image: -webkit-linear-gradient(top, #FB2576, #3F0071);
    background-image: -moz-linear-gradient(top, #FB2576, #3F0071);
    background-image: -ms-linear-gradient(top, #FB2576, #3F0071);
    background-image: -o-linear-gradient(top, #FB2576, #3F0071);
    background-image: linear-gradient(to bottom, #FB2576, #3F0071);
    text-decoration: none;
  }